body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f6f8;
  text-align: center;
}

header {
  background-color: #0a3d62;
  color: white;
  padding: 20px;
}

main {
  padding: 30px 20px;
}

button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#btnServicio {
  background-color: #fbc531;
}

#btnOrdenes {
  background-color: #dcdde1;
}

.hidden {
  display: none;
}

input, select, textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  height: 80px;
}

.orden {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  text-align: left;
}

.admin {
  background: #eaf0f6;
  border-left: 5px solid #0a3d62;
}

